body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(162, 162, 162);
}
.calendar{
    margin: auto;
    width: 600px;
    height: 450px;
    background-color: aliceblue;
    box-shadow: 0px 0px 15px 3px rgba(0, 0,0, 0.4);
}
.month{
    display: flex;
    justify-content: space-between;
    width: 100%;

    text-align: center;
    align-items: center;
    background-color: rgb(124, 94, 12);
    color: aliceblue;
    padding: 40px 30px;
    
}
.weekend{
    display: flex;
    background-color: rgb(66, 49, 4);
    color: rgb(210, 222, 43);
    font-weight: 500;
}

.weekend div{
    width: 14.28%;
    text-align: center;
}
.days{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 300;
    padding: 10px 0px;
}
.days div{
    width: 14.28%;
    margin-bottom: 10px;
    padding: 10px 0px;
    transition: all 0.10s;
}
.days div:hover{
    background-color: rgb(241, 214, 181);
    cursor: pointer;
}
.today{
    background-color: rgb(255, 189, 9);
    
} 
.prev_date{
    color: rgb(104, 102, 99);
}
#month{
    font-size: 35px;
    font-weight: 550;

}
.prev,
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0,0.1);  
    border-radius: 50%;
    transition: all 0.5s;
}
.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0,0.5);
    cursor: pointer;
}